<h1> SearchTerm index</h1>


<% terms_with_entries = []%>
<%= react_component("SearchTermIndex", { 
    
    searchTerms: @search_terms_with_entries,
    currentUser: current_user,
    admin: User.where(admin: true)
          
          
          }) %>

