<h1> SearchTerm show</h1>


<% terms_with_entries = []%>
<%= react_component("SearchTermShow", { 
    
    searchTerms: @search_terms_with_entries,
    currentUser: current_user,
    admin: User.where(admin: true)
          
          
          }) %>

