/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 

    
 */



 html,body { margin: 0px; } 

 
 #navbar {
     display: flex;
     justify-content: space-around;
    box-sizing: border-box;
    background-color: #24252A;
    color: #edf0f1;
    padding-top: 1%;
    text-decoration: none;
    position: fixed;

    width: 100vw;
    height: 10vh;
    
    #search-term-form {
        width: auto;
        

    }
    #notice-alert-div{
        width: 50vw;
        .notice, .alert {
            max-width: fit-content;
            // position: absolute;
         }
    }
    #user-panel{
        width: auto;
        display: ruby;
    }
    #locale-panel {
        width: auto;
     
        

    }
    a {
        text-decoration: none;
        color: black;
    }

 }

#container {
    display: flex;
}

#page-contents {
    margin-top: 10vh;
}

