/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 

    
 */



 html,body { margin: 0px; } 

 .notice, .alert {

    position: absolute;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    top: 0px

 }
 #navbar {
    box-sizing: border-box;
    background-color: #24252A;
    color: #edf0f1;

    #locale-panel {
        position: absolute;
        top: 0px;
        left: 40%;
        right: 40%;
    }
    a {
        text-decoration: none;
        color: black;
    }
    text-decoration: none;
    
    position: fixed;
    padding: 10px;
    width: 100vw;
    height: 10vh;
 }

#container {
    display: flex;
}

#page-contents {
    margin-top: 10vh;
}
 #user-panel {
     position: absolute;
     top: 0;
     right: 5vw;
 }
